Astro/.git
Astro/.env
Astro/dags/.env
Astro/.DS_Store
Astro/airflow_settings.yaml
Astro/__pycache__/
Astro/astro
Astro/.venv
Astro/airflow-webserver.pid
Astro/webserver_config.py
Astro/airflow.cfg
Astro/airflow.db
MongoePostgres/tabelas_fatos_dims.txt
MongoePostgres/copydata.py
MongoePostgres/testecopytopost.py
MongoePostgres/tabelas_transacional.txt
Astro/dags/dbt/energizetech_comercial/profiles.yml
MongoePostgres/mongodata
MongoePostgres/postgresdata
